.details{
  padding-bottom: 100px;
  border: 1px solid #3499DA;
  margin: auto;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
}
.buttons{
  width: 100%;
  text-align: center;
  position: relative;
  top: 40px;
  float: left;
}
.content{
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  margin-top: 20px;
}
.el-form-item{
  float: left;
}
.search{
  float: right;
}
.tags,.inputs{
  width: 100%;
  overflow: hidden;
}
.tables{
  margin-top: 50px;
}

